<!doctype html>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static' ,filename='app.css') }}">
<title>Login</title>

<form action='/' method='POST' style="text-align:center; margin: 30vh;">
    <input type='text' name='username' id='username' placeholder='username' style="padding: 10px; margin: 5px;"></input> <br/>
    <input type='password' name='password' id='password' placeholder='password' style="padding: 10px; margin: 5px;"></input> <br/>
    <input type='submit' name='submit' style="padding: 5px; margin: 5px; width: 48%;"></input>
</form>